<% provide(:title, 'Edit Maintenance Item') %>
<h1>Edit new maintenance item</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([@car, @maintenanceItem]) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>

        <%= f.label :interval %>
        <%= f.number_field :interval, class: 'form-control' %>

        <%= f.submit 'Save changes', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>