<div class="car" id="car_id_<%=car.id%>">
  <%= link_to car, class: "name" do %>
      <%= car.year %> <%= car.make %> <%= car.model %>
  <% end %>
  <% if current_user.admin? || current_user?(@user) %>
      | <%= link_to "Edit", edit_car_path(car) %>
      | <%= link_to "Delete", car, method: :delete,
                    data: { confirm: "You sure?" } %>
  <% end %>
  <div class="odometer">
    <span class="odometer-title">Current odometer: </span><span class="odometer-value"><%= car.odometer %></span>
  </div>
  <%= link_to("Update Odometer", {controller: 'cars', action: 'get_update_odometer_form', id: car.id}, remote: true, class: 'update-odometer-link') %>
  <div class="form-container"></div>
</div>