<%= provide(:title, @car.nickname) %>
<%= link_to "Back to all cars", user_path(@car.user), class: "back-link" %>
<h3>Car</h3>
<div class="car">
  <span class="name"><%= @car.year %> <%= @car.make %> <%= @car.model %></span>
  <% if current_user.admin? || current_user?(@car.user) %>
      <%= link_to raw("<span class='glyphicon glyphicon-pencil'></span>"), edit_car_path(@car) %>
      <%= link_to raw("<span class='glyphicon glyphicon-trash'></span>"), @car, method: :delete, data: { confirm: "You sure?" }  %>
  <% end %>

  <% if !@car.nickname.empty? %>
    <div class="nickname">aka <%= @car.nickname %></div>
  <% end %>

  <% if !@car.description.empty? %>
    <span class="description"><%= @car.description %></span>
  <% end %>

  <div class="odometer">Current odometer: <%= @car.odometer %></div>
</div><h3>Maintenance Items (<%= @car.maintenance_items.count %>) <%= link_to raw("<span class='glyphicon glyphicon-plus'></span>"), new_car_maintenance_item_path(@car) %></h3>
  <div class="maintenance-items">
  <% if @car.maintenance_items.any? %>
        <%= render @car.maintenance_items %>
  <% end %>
</div>