<%= provide(:title, @car.nickname) %>
<h3>Car</h3>
<div class="car">
  <span class="name"><%= @car.year %> <%= @car.make %> <%= @car.model %></span>
  <% if current_user.admin? || current_user?(@car.user) %>
      | <%= link_to "Edit", edit_car_path(@car) %>
      | <%= link_to "Delete", @car, method: :delete,
                    data: { confirm: "You sure?" } %>
  <% end %>

  <div class="odometer">Current odometer: <%= @car.odometer %></div>
  <div class="nickname">Nickname: <%= @car.nickname %></div>
  <span class="description">Description: <%= @car.description %></span>
</div><h3>Maintenance Items -  (<%= @car.maintenance_items.count %>)</h3>
  <div class="maintenance-items">
  <% if @car.maintenance_items.any? %>
        <%= render @car.maintenance_items %>
  <% end %>
  <div class="maintenance-item">
    <%= link_to "Add a new maintenance item", new_car_maintenance_item_path(@car) %>
  </div>
</div>