<%= provide(:title, @car.nickname) %>

<div class="car">
  <span class="make"><%= @car.year %></span>
  <span class="make"><%= @car.make %></span>
  <span class="make"><%= @car.model %></span>
  <span class="make"><%= @car.nickname %></span>
  <span class="make"><%= @car.description %></span>
</div>